<html>
    {% load static %}
<head>
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Juegoverso</h1>
    <h3>Tu rincon de informacion sobre videojuegos</h3>
    
    {% block content %} 

    {% endblock %}

    <p>¡Contactanos!</p>
    <p>Juegoverso@gmail.com</p>
    
    <script>
    function abrirModal(id) {
        const modal = document.getElementById('modal-' + id);
        modal.style.display = 'block';
    }

    function cerrarModal(id) {
        const modal = document.getElementById('modal-' + id);
        modal.style.display = 'none';
    }

    // Cerrar al hacer clic fuera del contenido
    window.onclick = function(event) {
        const modales = document.querySelectorAll('.modal');
        modales.forEach(function(modal) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        });
    }
    </script>
</body>
<nav>
    <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'mision' %}">Misión</a></li>
        <li><a href="{% url 'vision' %}">Visión</a></li>
        <li><a href="{% url 'acerca_de' %}">Acerca de</a></li>
    </ul>
</nav>

</html>